html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

::-webkit-scrollbar {
  width: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  word-wrap: normal;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page {
  /* width: 1920px; */
  /* position: relative; */
  margin: 0 auto;
  min-width: 320px;
  font-family: Arial, sans-serif;
  color: rgba(72, 73, 77, 1);
  background-color: rgba(255, 255, 255, 1);
  font-size: 20px;
  line-height: 23px;
}

.header--index {
  margin-bottom: 80px;
}

.container {
  max-width: 1210px;
  margin: 0 auto;
  padding: 0 20px;
}

.section-title {
  font-size: 25px;
  line-height: 28px;
}

.title {
  margin: 0;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.descr {
  margin: 0;
}

.btn {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

main {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}

/* header */

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 35px 0;
  max-width: 1170px;
}

.header__nav {
  margin-right: auto;
  width: 51%;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
  color: rgb(72, 73, 77);
  font-size: 20px;
  font-weight: 700;
  line-height: 23px;
}

.header__logo {
  margin-right: 67px;
}

.header__address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 37px;
  width: 30%;
  color: rgb(72, 73, 77);
  font-size: 20px;
  font-weight: 700;
  line-height: 23px;
}

.address__contain {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 278px;
}

.header__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 114px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-item-align: end;
  align-self: flex-end;
}

.icons__link--busket {
  position: relative;
}

.busket-quanity {
  position: absolute;
  left: 15px;
  top: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 23px;
  height: 23px;
  font-size: 12px;
  line-height: 13px;
  border-radius: 50%;
  color: rgba(255, 255, 255, 1);
  background-color: #ff7931;
}

.nav__additional {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.additional__list {
  padding: 0;
  max-width: 1171px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.additional__item {
  margin-right: 15px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.additional__item:last-child {
  margin-right: 0;
}

.additional__link {
  display: block;
  padding: 15px 0;
  -webkit-transition: -webkit-text-decoration 0.3s ease-in-out;
  transition: -webkit-text-decoration 0.3s ease-in-out;
  -o-transition: text-decoration 0.3s ease-in-out;
  transition: text-decoration 0.3s ease-in-out;
  transition: text-decoration 0.3s ease-in-out,
    -webkit-text-decoration 0.3s ease-in-out;
}

.additional__link:hover {
  font-weight: 700;
  text-decoration: underline;
  text-underline-offset: 15px;
  -webkit-text-decoration-color: #ff7931;
  text-decoration-color: #ff7931;
  text-decoration-thickness: 3px;
}

/* hero */

.hero {
  margin-bottom: 80px;
}

.hero__container {
  /* display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; */
  padding-left: 20px;
  padding-right: 20px;
}

.bac-hero-img {
  height: auto;
}

.preview__img {
  height: auto;
}

.preview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  max-width: 890px;
  align-self: center;
}

.preview__radio {
  display: block;
  position: absolute;
  bottom: 30px;
}

.preview__radio .radio__label {
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid rgb(255, 255, 255);
}

.preview__radio .radio__label:not(:last-child) {
  margin-right: 9px;
}

.preview__radio .radio__input:checked + label {
  background-color: rgb(255, 255, 255);
}

.preview__img {
  display: none;
}

.preview__img--first {
  display: block;
}

.preview__title {
  position: absolute;
  left: 10px;
  color: orange;
}

/* promotion */

.promotion {
  display: none;
  width: 270px;
  border: 1px solid rgba(205, 205, 205, 1);
  border-radius: 3px;
  position: relative;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.promotion--first {
  display: block;
}

.promotion__img {
  width: 150px;
  margin: 0 60px;
  margin-top: 53px;
  margin-bottom: 15px;
}

.promotion__price--first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 6px;
  position: absolute;
  top: 12px;
  right: 19px;
  font-size: 27px;
  line-height: 31px;
  color: rgba(255, 121, 49, 1);
  font-weight: bold;
}

.promotion__price--second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4px;
  position: absolute;
  top: 47px;
  right: 15px;
  font-size: 20px;
  line-height: 23px;
  color: rgba(168, 168, 168, 1);
}

.gradient {
  position: absolute;
  top: 27px;
  left: -27px;
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
  font-size: 12px;
  line-height: 14px;
  font-weight: bold;
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
  width: 79px;
  height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#9710e9),
    to(#fd8d43)
  );
  background: -o-linear-gradient(left, #9710e9, #fd8d43);
  background: linear-gradient(to right, #9710e9, #fd8d43);
  letter-spacing: 1.2px;
}

.promotion__descr {
  font-size: 23px;
  line-height: 27px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 16px;
  text-align: center;
}

/* timer */

.timer {
  padding: 15px 20px;
  background-color: rgba(240, 240, 244, 1);
}

.timer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.timer__svg {
  margin-right: 16px;
  width: 28px;
}

.timer__wrapper {
  width: 136px;
}

.timer__wrapper span {
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
}

.timer__list {
  font-size: 10px;
  line-height: 11px;
  font-weight: 700;
  color: rgba(196, 196, 196, 1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
}

/* .timer__item:first-child {
  margin-right: 8px;
  width: 30px;
} */

.timer__item:nth-child(2) {
  margin-right: 2px;
  width: 37px;
}

.timer__item:nth-child(3) {
  width: 42px;
}

.timer__descr {
  font-size: 17px;
  line-height: 20px;
  margin-bottom: 14px;
}

.picture {
  margin-bottom: 82px;
}

.picture__img {
  width: 100%;
}

/* search */

.search__list {
  max-width: 1041px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 40px;
  margin-bottom: 25px;
}

.search__item {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  padding: 12px 0;
}

.search__link {
  padding: 12px 20px;
  -webkit-transition: background 0.3s ease-in-out,
    border-radius 0.3s ease-in-out, font-weight 0.3s ease-in-out;
  -o-transition: background 0.3s ease-in-out, border-radius 0.3s ease-in-out,
    font-weight 0.3s ease-in-out;
  transition: background 0.3s ease-in-out, border-radius 0.3s ease-in-out,
    font-weight 0.3s ease-in-out;
}

.search__link:hover {
  background-color: #f0f0f4;
  border-radius: 5px;
  font-weight: 700;
}

.search__form {
  position: relative;
  max-width: 1170px;
  height: 50px;
  padding: 0;
  margin: 0;
  margin-bottom: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.search__button--desktop {
  margin: 0;
  padding: 16px 40px;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(255, 121, 49, 1);
  min-width: 147px;
  height: 50px;
  border-radius: 3px;
  border: 0;
}

.search__button--mobile {
  display: none;
  position: absolute;
  right: 15px;
  top: 13px;
}

.search__input {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 20px;
  font-size: 16px;
  line-height: 18px;
  max-width: 1023px;
  height: 50px;
  border-radius: 3px;
  background-color: #f0f0f4;
  border: 0;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

/* article */

.article {
  margin-bottom: 78px;
}

.article__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 30px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.article__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  width: 370px;
  padding: 16px 0;
  padding-left: 20px;
  padding-right: 25px;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  line-height: 26px;
  font-weight: bold;
  min-height: 129px;
}

.article__link {
  position: relative;
  display: block;
  margin-top: 0;
  padding-bottom: 8px;
  color: #c4c4c4;
  font-size: 20px;
  line-height: 23px;
}

.article__link::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
  cursor: pointer;
}

.article__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.article__subtitle {
  margin: 0;
  padding-top: 3px;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

.article__subtitle:hover {
  color: #ff7931;
}

/* popular */

.popular {
  margin-bottom: 80px;
}

.goods__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.offers {
  margin-bottom: 58px;
}

.offers__container {
  padding: 0;
}

.popular__item {
  font-size: 15px;
  line-height: 17px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.popular__title {
  margin-top: 0;
  margin-bottom: 15px;
}

.popular__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* margin-bottom: 25px; */
}

.popular__link {
  display: block;
  padding: 11px 20px;
  -webkit-transition: -webkit-text-decoration 0.3s ease-in-out;
  transition: -webkit-text-decoration 0.3s ease-in-out;
  -o-transition: text-decoration 0.3s ease-in-out;
  transition: text-decoration 0.3s ease-in-out;
  transition: text-decoration 0.3s ease-in-out,
    -webkit-text-decoration 0.3s ease-in-out;
}

.popular__item:first-child .popular__link {
  padding-left: 0;
}

.popular__link:hover {
  font-weight: 700;
  text-decoration: underline;
  text-underline-offset: 11px;
  -webkit-text-decoration-color: #ff7931;
  text-decoration-color: #ff7931;
  text-decoration-thickness: 2px;
}

.no-stock {
  margin-bottom: 9px;
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
}

.available .no-stock,
.available .push {
  display: none;
}

.not-available .product__price,
.not-available .busket {
  display: none;
}

.not-available .product__img {
  margin-bottom: 24px;
}

.push {
  font-size: 16px;
  line-height: 18px;
  color: #ff7931;
}

.price {
  font-size: 30px;
  line-height: 34px;
  font-weight: bold;
}

/* product */

.product {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product__gradient {
  width: 66px;
  letter-spacing: 0.84px;
  top: 20px;
  left: -20px;
}

.product__list {
  --gap: 30px;
  --offset: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-top: 25px;
  padding-bottom: 40px;
  gap: var(--gap);
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.product__list--offset {
  margin-bottom: 0;
}

.product__item {
  padding: 20px 20px;
  padding-bottom: 29px;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
  display: none;
}

.product__item {
  width: calc(((100% - (var(--offset) * var(--gap)))) / (var(--offset) + 1));
}

.product__item:hover {
  color: #ff7931;
}

.product__subtitle {
  font-size: 20px;
  line-height: 23px;
  margin-top: 0;
  margin-bottom: 19px;
  font-weight: 400;
}

.visible {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product__price {
  font-size: 30px;
  font-weight: 700;
  line-height: 34px;
}

.product__arrow {
  position: absolute;
}

.product__arrow--left {
  left: -82px;
  border: none;
  background: transparent;
  padding: 0;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.product__arrow--right {
  right: -82px;
  border: none;
  background: transparent;
  padding: 0;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.busket {
  position: absolute;
  right: 0;
  bottom: -5px;
  border-top-left-radius: 10px;
  background-color: #ff7931;
}

.product__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-item-align: end;
  -ms-grid-row-align: end;
  align-self: end;
}

.product__img {
  margin: 0;
  margin-bottom: 34px;
  padding: 0;
}

.product__item--lamp .product__img {
  margin-bottom: auto;
}

.product__item--lamp .product__subtitle {
  margin-bottom: 16px;
}

.product__item--lamp .product__price {
  padding-bottom: 6px;
}

.push {
  margin-top: 0;
  border-bottom: 1px solid rgba(255, 121, 49, 0.2);
}

.more {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  padding: 16px 43px;
  text-align: center;
  font-size: 15px;
  line-height: 17px;
  font-weight: 700;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  color: rgba(189, 190, 194, 1);
  border: none;
  background-color: rgb(240, 240, 244);
}

.offers__more {
  display: none;
  margin: 0 auto;
}

.more--mobile {
  display: none;
}

/* icons */

.heart {
  margin: 0;
  cursor: pointer;
}

.heart path {
  stroke: #a8a8a8;
}

.orange-heart {
  fill: #ff7931;
}

.orange-heart path {
  stroke: #ff7931;
}

/* footer */

.footer {
  background-color: rgba(244, 244, 246, 1);
}

.footer__container {
  padding: 42px 20px;
}

.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.subscription__descr {
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 35px;
}

.copyright--desktop {
  font-size: 12px;
  line-height: 13px;
  color: rgba(165, 165, 165, 1);
  margin: 0;
}

.footer-nav .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  /* gap: 5px; */
  font-size: 14px;
  line-height: 16px;
}

.subscription {
  max-width: 294px;
  width: 100%;
  margin-right: auto;
}

.footer__form {
  display: flex;
  max-width: 294px;
  margin-top: 0;
  margin-bottom: 33px;
}

.form__btn {
  padding: 10px 20px;
  font-size: 11px;
  line-height: 12px;
  font-weight: bold;
  letter-spacing: 1.3px;
  color: white;
  background-color: rgb(255, 121, 49);
}

.form__input {
  padding: 8px 0;
  padding-left: 12px;
  width: 175px;
  border: none;
  font-size: 14px;
  line-height: 16px;
}

.footer-nav {
  max-width: 718px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.info__title,
.service__title,
.store__title {
  margin: 0;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
}

.assistance {
  padding-top: 21px;
}

/* burger */

.menu-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  top: 60px;
  left: 23px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}

.menu-btn > span,
.menu-btn > span::before,
.menu-btn > span::after {
  display: block;
  position: absolute;
  width: 33px;
  height: 3px;
  background-color: rgb(196, 196, 196);
  -webkit-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
}

.menu-btn > span::before {
  content: "";
  top: -9px;
}

.menu-btn > span::after {
  content: "";
  top: 9px;
}

.menubox {
  z-index: 1;
  display: block;
  position: fixed;
  overflow-y: scroll;
  visibility: hidden;
  top: 0;
  left: -100%;
  width: 242px;
  height: 100%;
  margin: 0;
  padding-left: 43px;
  padding-top: 19px;
  list-style: none;
  background-color: white;
  -webkit-box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
  -webkit-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
}

.menu-item {
  display: block;
  padding-top: 18px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  color: #333;
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  -webkit-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
}

.burger-menu__svg {
  position: absolute;
  left: 16px;
}

.menu-item:hover {
  background-color: #cfd8dc;
}

#menu-toggle {
  opacity: 0;
}

#menu-toggle:checked ~ .menu-btn {
  top: 30px;
}

#menu-toggle:checked ~ .menu-btn > span {
  left: 242px;
  top: 0;
}

#menu-toggle:checked ~ .menubox {
  visibility: visible;
  left: 0;
}

/* radio */
.radio {
  display: none;
}

.preview__radio {
  display: block;
  position: absolute;
  bottom: 30px;
}

.radio__input {
  display: none;
}

.radio__label {
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.radio__label:not(:last-child) {
  margin-right: 17px;
}

.radio__input:checked + label {
  background-color: #ff7931;
}

/* catalog */

.header--catalog {
  margin-bottom: 46px;
}

.main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.catalog .product__list {
  --offset: 2;
  padding-top: 0;
}

/* main-nav */

.main-nav {
  margin-bottom: 42px;
}

.main-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
  margin-bottom: 41px;
}

.main-nav__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: rgb(205, 205, 205);
  font-size: 15px;
  line-height: 17px;
}

.main-nav .main-title {
  margin-bottom: 21px;
  font-size: 30px;
  line-height: 34px;
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.filter__item {
  padding: 4px 22px;
  color: rgb(72, 73, 77);
  border-radius: 50px;
  background: rgb(244, 244, 246);
  font-size: 14px;
  line-height: 16px;
}

.catalog__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.sort-select {
  -webkit-appearance: none; /* Убираем стандартные стили */
  -moz-appearance: none;
  appearance: none;
  background-image: url(../img/select.svg);
  background-position: right 20px center;
  background-repeat: no-repeat;
  padding: 8px 46px 8px 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 1.5px solid rgb(215, 217, 223);
}

/* cards */

.catalog .offers__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* sidebar */

.sidebar {
  max-width: 280px;
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}

.sidebar__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  margin-bottom: 33px;
}

.sidebar__btn {
  color: rgba(72, 73, 77, 0.5);
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.sidebar .title {
  font-size: 16px;
  line-height: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.sidebar__select {
  margin-bottom: 11px;
  color: rgb(111, 111, 111);
  font-size: 13px;
  line-height: 15px;
  border: none;
}

.reset {
  color: rgb(189, 190, 194);
  font-size: 13px;
  line-height: 15px;
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
}

.price__container {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: rgba(0, 0, 0, 0.5);
}

.price__span {
  color: initial;
}

input[placeholder] {
  padding: 8px 20px;
  font-size: 12px;
}

.footer__form input[placeholder] {
  color: rgb(165, 165, 165);
}

.see-more {
  color: rgb(255, 121, 49);
  text-decoration: underline;
  text-underline-offset: 2px;
  -webkit-text-decoration-color: rgba(255, 121, 49, 0.2);
  text-decoration-color: rgba(255, 121, 49, 0.2);
  text-decoration-thickness: 1px;
}

.pick-up {
  padding: 17px 43px 15px;
  width: 252px;
  color: rgb(189, 190, 194);
  font-size: 15px;
  font-weight: 700;
  line-height: 17px;
  text-transform: uppercase;
  background-color: rgb(240, 240, 244);
}

.sale__btn {
  padding: 6px 15px;
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
  color: rgb(189, 190, 194);
  background-color: rgb(240, 240, 244);
}

.sale__btn--active {
  color: rgb(255, 255, 255);
  background: -o-linear-gradient(
    359.43deg,
    rgb(151, 16, 233) 0.094%,
    rgb(253, 141, 67) 99.944%
  );
  background: linear-gradient(
    90.57deg,
    rgb(151, 16, 233) 0.094%,
    rgb(253, 141, 67) 99.944%
  );
}

/* season */

.season {
  width: 270px;
}

.season__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 9px;
}

.season__input {
  margin-right: 6px;
  width: 14px;
  height: 14px;
}

.season__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 33px;
  padding-top: 22px;
  margin-bottom: 28px;
}

.season__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  row-gap: 15px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 20px;
}

/* price */

.sidebar .price {
  padding-top: 17px;
}

.price__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-right: 19px;
}

.price__block {
  padding-bottom: 22px;
}

.price__span {
  padding-bottom: 3px;
  border-bottom: 1px solid rgb(224, 224, 224);
}

.price__input {
  margin-bottom: 22px;
}

/* diametr */

.diametr,
.profile,
.width {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 9px;
  border-bottom: 1px solid rgb(224, 224, 224);
}

.diametr__select,
.profile__select,
.width__select {
  border: none;
}

.diametr__title,
.profile__title,
.width__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 17px;
}

.brand,
.model,
.technology,
.sale,
.country {
  padding-top: 30px;
}

.brand__btn,
.model__btn,
.sale__title,
.country__btn {
  margin-bottom: 15px;
}

.brand__input[type="text"],
.model__input[type="text"] {
  border: 1px solid rgb(224, 224, 224);
  width: 100%;
}

.brand__wrapper,
.model__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-column-gap: 27px;
  -moz-column-gap: 27px;
  column-gap: 27px;
  row-gap: 15px;
  padding: 20px 0 15px 0;
}

.sidebar-label .technology__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
}

.technology__wrapper {
  padding-top: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}

.sale__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 10px;
}

.country {
  margin-bottom: 30px;
}

.country__wrapper {
  padding-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 43px;
  row-gap: 13px;
}

/* custom checkbox */

.season__input {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}

.checkmark {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin-right: 10px;
  vertical-align: middle;
  background-color: transparent;
  border: 2px solid rgb(255, 121, 49);
  border-radius: 2px;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
  left: 50%;
  top: 50%;
  width: 10px;
  height: 10px;
  background-color: rgb(255, 121, 49);
  border-radius: 1px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.season__input:checked ~ .checkmark:after {
  display: block;
}

.season__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
}

/* range */

input[type="range"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  height: 2px;
  background-color: rgb(255, 121, 49);
  /* position: absolute; */
  top: 0;
  left: 0;
  outline: none;
  -webkit-transition: background-color 0.2s ease;
  -o-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  background-color: rgb(255, 121, 49);
  border: 2px solid #fff;
  border-radius: 50%;
  position: relative;
  z-index: 1;
}

input[type="range"]::-moz-range-thumb {
  width: 16px;
  height: 16px;
  background-color: rgb(255, 121, 49);
  border: 2px solid #fff;
  border-radius: 50%;
  position: relative;
  z-index: 1;
}

.promo-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* overflow-x: scroll;
  -ms-scroll-snap-type: y mandatory;
  scroll-snap-type: y mandatory; */
}

.promotion {
  scroll-snap-align: start;
  width: 100%;
}

.hero-new {
  display: flex;
  gap: 30px;
}

.preview-arrow-svg {
  position: absolute;
  top: 40%;
}

.preview-arrow-svg--left {
  left: 0;
}

.preview-arrow-svg--right {
  right: 0;
}
